body{
    font-family:'Montserrat', 'Lexend', 'Calibri', sans-serif;
    text-align:center;
    color: #e2e5f7;
}

html{
    background-image: linear-gradient(#3e3c48, #000000);
    background-attachment: fixed;
}