html{
    font-family:'Montserrat', 'Lexend', 'Calibri', sans-serif;
    text-align: center;
    color:#bcb8fe;
    background-image: linear-gradient(#1a0e3e, #000000);
    background-attachment: fixed;
}

.bodybg{
    margin: 8% auto;
    padding: 4%;
    max-width: 80%;
    background:#2c1a4b;
    box-shadow:0 5px 10px rgba(16, 0, 53, 0.2),0 15px 40px rgba(0,0,0,.05)
}

.menu{
    color: #ffffff;
}