@charset "UTF-8";

html{
    font-family:'Montserrat', 'Calibri', sans-serif;
    text-align: center;
    color:#bcb8fe;  
}

/* FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS */
@font-face {
    font-family: 'determination'; src: url('fonts/DeterminationSansWeb.ttf');
}
.determination {
    font-family: "determination", 'Minecraftia', 'Montserrat', sans-serif;
    font-size: x-large;
    font-style: normal;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'utsans'; src: url('fonts/UndertaleSans.ttf');
}
.utsans {
    font-family: "utsans", 'Minecraftia', 'Montserrat', sans-serif;
    font-size: x-large;
    text-transform: lowercase;
    font-style: normal;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'utpapyrus'; src: url('fonts/UndertalePapyrus.ttf');
}
.utpapyrus {
    font-family: "utpapyrus", 'Minecraftia', 'Montserrat', sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'dealer'; src: url('fonts/Fake\ Receipt.otf');
}
.dealer {
    font-family: "dealer", 'Minecraftia', 'Montserrat', sans-serif;
    font-size: large;
    text-transform: uppercase;
    color: rgb(206, 171, 114);
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'vcr'; src: url('fonts/VCR_OSD_MONO_1.001.ttf');
}
.vcr {
    font-family: "vcr", 'Minecraftia', 'Montserrat', sans-serif;
    font-size: larger;
    text-transform: uppercase;
    color: rgb(255, 93, 93);
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'omori'; src: url('fonts/OMORI_GAME2.ttf');
}
.omori {
    font-family: "omori", 'Minecraftia', 'Montserrat', sans-serif;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

@font-face {
    font-family: 'balatro'; src: url('fonts/balatro.ttf');
}
.balatro {
    font-family: "balatro", 'Minecraftia', 'Montserrat', sans-serif;
    font-size: large;
    color: rgb(255, 255, 255);
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.comicsans {
    font-family: "Comic Sans MS", 'Minecraftia', 'Montserrat', sans-serif;
    font-size: x-large;
    text-transform: lowercase;
    font-style: normal;
}
/* FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS FONTS */



/* i should be nominated for shittiest code ever */

body{
    background: #1a0e3e;
    background-image: linear-gradient(#1a0e3e, #000000);
}
body .colonthree{
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* i dont even know how im supposed to organise this anymore */

br {
    line-height: 150%;
}

a{
    color: #00eaff;
}

footer .small{
    font-size: small;
    color: #5f3f75;
}

.sonohead{
    margin: 2% auto;
    padding: 4%;
    max-width: 80%;
    background:rgba(40, 17, 80, 0.475);
    backdrop-filter: blur(10px);
    box-shadow:0 5px 10px rgba(16, 0, 53, 0.2),0 15px 40px rgba(0,0,0,.05);
    display: flex; /*ddisplays the uhhhh the contents as horizonatal i think??*/
    align-items: center; /*align center*/
    justify-content: space-between; /* space between the image and the tex */
    gap: 20px; /* gay */
    
}
.sonohead img{
    width: 50%;
    height: auto;
    max-width: 250px;
}
.sonohead p{
    flex: 1; /* flexible layout i think???? */
    text-align: justify;
}

.gay h1{
    user-select: none;
    font-size: 40px;
    color: white;
    background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
                rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
    background-size: 600vw 600vw;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: slide 10s linear infinite forwards;
  }
@keyframes slide {
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 600vw;
    }
}

.sectionwoagh{
    margin: 3% auto;
    padding: 4%;
    max-width: 80%;
    background:rgba(40, 17, 80, 0.475);
    backdrop-filter: blur(10px);
    box-shadow:0 5px 10px rgba(16, 0, 53, 0.2),0 15px 40px rgba(0,0,0,.05)
}
.sectionwoagh h1{
    font-weight: 900px;
    color: #5fd7ff;
}
/* .sectionwoagh{OKSDFAJUIY */
/* im keeping this here so im immortalising the moment i   crashed thhe fuck out!! 
 because of something,, and i accidentlay typed in the code due to the excit emetmn
 :33 I LOVE IT SO MUCH AAAARFHJGH its peak its so peak its Peam,, pea, peak ahsjfs  , ,, gFhfhfg*/

.dualcontainer {
    justify-content: space-between; /* space between the image and the tex */
    gap: 30px;
    display: flex;
    margin: 4%;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border-collapse: separate;
    border-spacing: 20px;
}
.dualsection {
    display: table-cell;
    align-items: center;
    background:rgba(40, 17, 80, 0.475);
    backdrop-filter: blur(10px);
    padding: 20px 15px 30px 15px;
    line-height: 1.4;
    flex: 1;
}
.dualsection h1{
    font-style: bold;
    color: #5fd7ff;
}

nav{
    /* background:#2c1a4b; */
    padding: 20px;
}
nav h1{
    padding-top: 69px; /* i am severely immature */
    font-style: bold;
    font-size: xx-large;
}


.splash{
    font-family: 'Minecraftia', 'Montserrat', 'Calibri', 'sans-serif';
    text-decoration: none;
    color: rgb(108, 221, 255);
    transition-delay: 0.2s;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    text-shadow: 2px 0 rgba(40, 17, 80, 0.475), -2px 0 #250745, 0 2px #250745, 0 -2px #250745,
    1px 1px #250745, -1px -1px #250745, 1px -1px #250745, -1px 1px #250745;
}

.buttonnavi{
    font-family: 'Montserrat', 'Calibri', 'sans-serif';
    background-color: rgba(68, 50, 142, 0.4);
    padding: 5px 17px 5px 17px;
    color: #ffffff;
    margin-left: 10% auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}
.buttonnavi:hover{
    background-color: rgb(74, 54, 153);
    color: #f781ff;
}
.buttonnaviyourehere{
    font-family:'Montserrat', 'Lexend', 'Calibri', sans-serif;
    background-color: rgba(117, 84, 219, 0.437);
    padding: 5px 17px 5px 17px;
    color: #00a2ff;
    margin-left: 10% auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}
.buttonnaviyourehere:hover{
    background-color: rgb(94, 74, 187);
    color: #ffffff;
}

/* balls */
.balls{
    margin: 2% auto;
    max-width: 80%;
    align-items: center; /*align center*/
    justify-content: space-between; /* space between the image and the tex */
    display: flex; /*ddisplays the uhhhh the contents as horizonatal i think??*/
    gap: 30px; /* gay */
}
.wegaboard{
    background:rgba(40, 17, 80, 0.475);
    backdrop-filter: blur(10px);
    padding: 3%;
}

.ihatemyself{
    align-items: center; /*align center*/
    justify-content: space-between; /* space between the image and the tex */
    gap: 20px; /* gay */
    
}
.ihatemyself img{
    width: 60%;
    min-width: 150px;
    height: auto;
    max-width: 300px;
}
.ihatemyself p{
    flex: 1; /* flexible layout i think???? */
    text-align: center;
}

/* HI FUTURE KOMMIT! PAST KOMMIT HERE. PLEASE DO NOT [Kill] YOURSELF OVER MY SPAGHETTI CODE THANK Y OU XOXO */


/* hey past kommit
dont worry, me wanting to stop existing was *technically* not caused by you 

anyways for future code-mmit reference, this section is for mobile devices i think*/
@media (max-width: 768px) {
    .sonohead {
        flex-direction: column; 
    }
    .sonohead img{
        width: 50%;
        max-width: 250px;
    }
    .sonohead p{
        text-align: center;
    }

    .dualcontainer {
        display: block;
        margin: 4%;
    }
    .dualsection {
        display: block;
        margin-bottom: 20px;
    }

    .ihatemyself {
        flex-direction: column; 
    }
    .ihatemyself img{
        width: 50%;
        max-width: 250px;
        padding-top: 20px;
    }
    .ihatemyself p{
        text-align: center;
    }

    .balls {
        flex-direction: column; 
    }
}