@charset "UTF-8";

html{
    font-family: 'Ubuntu Mono', sans-serif;
    text-align: left;
    color: #adb7bc;
    background-color: #000000;
    margin: 2%;
    line-height: 25px;
    letter-spacing: 1%;
}

h1{
    /* title */
    color: #ffffff;
    margin-left: 2%;
    font-size: x-large;
}
h3{
    /* subtitle splash text */
    color: #ffffff;
    margin-left: 2%;
    font-weight: normal;
}

details{
    white-space: pre-line;
    display: block;
    padding-left: 20px;
}
details .small{
    font-size: small;
    color: #adb7bc77;
}

summary{
    user-select: none;
}
summary:hover{
    color: #00ccff;
    cursor: pointer;
}

.logtitle{
    padding-left: 25px;
    font-weight: bold;
    font-size: large;
}

.pastlog{
    display: block;
    color: #8b8cacb3;
    white-space: pre-line;
}
.pastlog .small{
    font-size: small;
    color: #8b8cac68;
}

p{
    white-space: pre-line;
    display: block;
    padding-left: 20px;
}
p .small{
    font-size: small;
    color: #adb7bc77;
}

.spaced{
    letter-spacing: 4%;
}




