@charset "UTF-8";

html{
    font-family: 'Ubuntu Mono', sans-serif;
    text-align: left;
    color: #adb7bc;
    background-color: #000000;
    margin: 2%;
    line-height: 25px;
}

h1{
    /* title */
    color: #ffffff;
    margin: 2%;
    font-size: xx-large;
}
h3{
    color: #ffffff;
    margin: 2%;
}

summary{
    display: block;
    white-space: pre-line;
    user-select: none;
}
summary:hover{
    color: #adb7bc;
    cursor: pointer;
    user-select: none;
}

strong{
    padding-left: 20px;
}
.small{
    font-size: small;
    line-height: 0px;
}

.yap{
    display: block;
    white-space: pre-line;
}
.pastyap{
    display: block;
    color: #76728f92;
    white-space: pre-line;
}


