@charset "UTF-8";

html{
    font-family: 'Ubuntu Mono', sans-serif;
    text-align: left;
    font-size: large;
    color: #0099ff;
    background-color: #000000;

    line-height: 25px;
}

h1{
    /* title */
    margin: 2%;
}

summary{
    display: block;
    margin: 1%;
    white-space: pre-wrap;
    padding-left: 4%;
    user-select: none;
}
summary:hover{
    color: #0099ff;
    cursor: pointer;
    user-select: none;
}

.yap{
    display: block;
    margin: 1%;
    white-space: pre-wrap;
}
.pastyap{
    display: block;
    margin: 1%;
    color: #0099ff91;
    white-space: pre-wrap;
}

.small{
    font-size: small;
    line-height: 0px;
}


