@charset "UTF-8";

html {
    font-family: "Lato", sans-serif;
    scrollbar-color: #6b1ceb #2E1E66;

    background-color: #000000;
    background-size: cover;
    background-image: url("../images/galaxy.jpg");
    background-repeat: no-repeat;
}

body {
    color:#d3d1ff;
}

