html{
    font-family:'Varela Round', 'Calibri', sans-serif;
    background: #222127;
}

body{
    color: #86A8E7;
}

h1{
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #292831;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: auto;
 }
  
/* Sidebar links */
.sidebar a {
    display: block;
    color: #7F7FD5;
    padding: 16px;
    text-decoration: none;
}
  
/* Active/current link */
.sidebar a.active {
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    color: #292831;
}
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #32303c;
    color: white;
}
  
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
  
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
  
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
} 