html{
    background: #222122;
    overflow-x: hidden;
}

.titleandstuff{
    font-family: 'Quantico', sans-serif;
    text-align: center;
    margin-top: 0em;
    padding-top: 10px;

}
.titleandstuff h1{
    color: #29e29c;

    background: linear-gradient(
        to right,
        #00ff9d 20%,
        #00ffe5 30%,
        #00b3ff 50%,
        #665bff 70%,
        #f36fff 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
    /*https://www.amitmerchant.com/animated-gradient-effect-in-css/ thanks broski*/
}
.titleandstuff p{
    color: #cddbe2;
}

.homething{
    border-style: none;
    text-decoration: underline;
    font-size: small;
}

.small{
    font-size: small;
    padding-left: 10px;
    opacity: 0.5;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}
@media (max-width: 500px) {
    .links a {
        display: block;
    }
}


.links {
    margin-top: 2em;
    user-select: none;
}
.links a {
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

h3 {
    position: relative;
    top: 2em;
    left: 23%;
    color: #29e29c;
    margin-bottom: 2em;
}

p {
    line-height: 150%;
}

a {
    text-decoration: none;
    color: #29e29c;
    border: #29e29c;
    border-width: 1px;
    border-style: solid;
    transition: all 0.25s ease;
}
a:hover {
    background: #29e29c;
    border: #3c77be00;
    border-width: 5px;
    border-style: solid;
    color: #222122;
}


body {
    font-family: 'Quantico', sans-serif;
}

.container {
    width: 60%;
    margin: 3% auto 10rem auto;
}

.main-header {
    text-align: center;
    margin-top: 1.5em;
}


.entry {
    border: #29e29b7b;
    border-width: 2px;
    border-style: solid;
    padding: 0.5rem 1.5rem;
    transition: background 0.25s ease;
    margin-bottom: 2px;
}

.entry:nth-child(even) {
    border: #cddbe27b;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 2px;
}

.entry-info {
    font-style: italic;
    font-size: 0.75rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.entry-info p {
    margin-bottom: 0.125rem;
    color: #cddbe2;
}

.entry-info .author {
    color: #29e29c;
    font-weight: bold;
    font-style: normal;
    font-size: medium;
}

.entry-info .website {
    color: #29e29c;
    text-decoration: underline;
    border-style: none;
}
.entry-info .website:hover {
    color: #222122;
    text-decoration: underline;
    border-style: none;
}

.entry-text p {
    margin-top: 0;
    color: #cddbe2;
}

.guestbook-links {
    margin: 1rem 0;
    text-align: center;
}

.guestbook-links a {
    padding: 1rem 4rem;
    display: inline-block;
    margin: 0 0.5rem;
}



.manage-entry {
    overflow: hidden;
    height: 100px;
}

.manage-entry .entry-left {
    width: calc(80% - 2em);
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 2em;
}

.manage-entry .entry-options {
    box-sizing: border-box;
    width: 20%;
    float: left;
    border-left: solid 2px #cddbe2;
    text-align: center;
    padding: 1em 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icon {
    color: #000;
    font-size: 1.25em;
    font-weight: bold;
    display: inline-block;
    margin: 0 1.5em 0 0;
}

img.icon {
    max-height: 0.75em;
    margin-left: -0.25rem;
    margin-right: 0;
}

.checkmark {
    display: inline-block;
}

.checkmark:after {
    content: '';
    display: block;
    width: 7px;
    height: 14px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-element {
    width: 100%;
    display: block;
    margin: 1em 0;
    padding: 0.5em;
    border: none;
    resize: none;
    background: #2d2d31;
    color: #ffffff;
}

.form-element::placeholder {
    color: #29e29b7b;
}

.form-element:focus {
    outline-color: #29e29b;
    color: #cddbe2;
}

.form-element.short {
    width: 30%;
}

.form-button {
    font-family: 'Quantico', sans-serif;
    margin-top: 1em;
    padding: 1rem 2rem;
    margin-right: 0.5rem;
    display: inline-block;

    border: #29e29c;
    border-style: solid;
    background: #222122;
    color: #29e29c;
    transition: all 0.25s ease;
    
}

.form-button:hover {
    background: #29e29c;
    border: #222122;
    border-style: solid;
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}


.popup {
    margin: 23px auto;
    padding: 20px;
    background: #222122;
    border-radius: 5px;
    width: 50%;
    transition: all 5s ease-in-out;

    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup h2 {
    margin-top: 10px;
    color: #cddbe2;
    font-family: 'Quantico', sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #cddbe2;
    border-style: none;
}

.popup .close:hover {
    color: #222122;
    background-color: #29e29c;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}


.sign-guest-book-popup {
    font-family: 'Quantico', sans-serif;
    height: min-content;

    margin: 23px auto;
    padding: 20px;
    background: #222122;
    border-radius: 5px;
    width: 50%;
    transition: all 5s ease-in-out;

    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.sign-guest-book-popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #cddbe2;
    border-style: none;
}

.sign-guest-book-popup .close:hover {
    color: #222122;
    background-color: #29e29c;
}

.sign-guest-book-popup .content {
    max-height: 30%;
    color: #cddbe2;
    overflow: auto;
}

.sign-guest-book-popup h2 {
    font-family: 'Quantico', sans-serif;
    color: #cddbe2;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .sign-guest-book-popup {
        width: 70%;
    }
}

input:not([type="submit"]) {
    font-family: monospace;
    padding: 0.75rem;
    border-radius: 0.25rem;
    outline: 0;
    border: 1px solid #fff;
    background: 0 0;
    color: #ffffff;
    font-weight: 300;
}

.emailFormCard-TextArea {
    font-family: monospace;
    padding: -0.25rem;
    border-radius: 0.25rem;
    outline: 0;
    border: 1px solid #fff;
    background: 0 0;
    color: #ffffff;
    font-weight: 300;
    resize: none;
}

input:not([type="submit"])::placeholder {
    font-family: monospace;
    background: 0 0;
    opacity: 1;
    color: #29e29b7b;
    transition: color 0.2s ease-in-out;
}

input:not([type="submit"]):focus::placeholder {
    opacity: 1;
    
}

input:not([type="submit"]):placeholder-shown {
    background: 0 0;
}

input:not([type="submit"]):not(:placeholder-shown) {
    font-family: 'Quantico', sans-serif;
    margin-top: 1em;
    padding: 1rem 2rem;
    margin-right: 0.5rem;
    display: inline-block;

    border: #29e29c;
    border-style: solid;
    background: #222122;
    color: #29e29c;
    transition: all 0.25s ease;
}

input:not([type="submit"]):not(:focus):not(:placeholder-shown):valid {
    border: 1px solid #29e29c;
}

input:not([type="submit"]):not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid #a30008;
}

input:not([type="submit"]):focus,
input:not([type="submit"]):placeholder-shown:invalid:not(:focus),
input:not([type="submit"]):placeholder-shown:valid:not(:focus) {
    border: 1px solid grey;
}

input:not([type="submit"]):hover {
    background: #29e29c;
    border: #222122;
    border-style: solid;
    color: #fff;
    cursor: pointer;
}

input:not([type="submit"]):focus {
    background: #0091ff;
    border: #222122;
    border-style: solid;
    color: #fff;
}

form:invalid input[type="submit"] {
    opacity: 0.5;
    cursor: not-allowed;
}

form:valid input[type="submit"] {
    opacity: 1;
    cursor: auto;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.aterisk_before:before {
    color: #e32;
    content: ' *';
    display: inline;
}

.aterisk_after:after {
    color: #e32;
    content: ' *';
    display: inline;
}

.max-length:after {
    color: #e32;
    font-size: small;
    content: "  *" " max length: 128 characters";
    display: inline;
}