@charset "UTF-8";

html{
    font-family:'Ubuntu', 'Calibri', sans-serif;
    text-align: center;
    color:#ffffff;
    background-image: linear-gradient(#233127, #000000);
    background-attachment: fixed;
}

h1{
    background:#495f51;
    padding: 20px 10px 20px 10px;
    border: none;
    border-radius: 10px;
}

.texttext{
    margin: 1% auto;
    padding: 2%;
    max-width: 70%;
}

audio{
    margin-bottom: 20px auto;
}


h2{
    padding: 20px 10px 20px 10px;
    border: none;
    border-radius: 10px;
    padding: 2%;
    margin: 1% auto;
    max-width: 70%;
}


/* ZE NAVI!!!!!!!!!!!!!!!!!! */
.buttonnavi{
    font-family:'Ubuntu', 'Calibri', sans-serif;
    background-color: #495f51;
    padding: 5px 17px 5px 17px;
    color: #ffffff;
    margin-left: 10% auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}
.buttonnavi:hover{
    background-color: #35d87e;
}

.navilinks{
    color: #35d87e;
}
.navilinks:hover{
    color: #a6ffbf;
}
/* ZE NAVI!!!!!!!!!!!!!!!!!! */

.pageButtons {
    position: fixed;
    top: 0;
    margin: 1%;
    right: 0;
}

/* DROPDOWN THING */
.sybau {
    position: fixed;
    top: 0;
    margin: 1%;
}
.dropbtn {
    background-color: #495f51;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #35d87e;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #495f51;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #739476;}
.show {display:block;}
/* ps: thank you we3schools for free code youre my goat i love you no homo but id still kiss you sloppy style LMFAOO ASOFAS DHJAFSJVHGSCVAS */
/* DROPDOWN THING */

/* links */
a{
    color: #35d87e;
}
a:hover{
    color: #a6beff;
}
/* links */



/* text styles and stuff */
.col{
    color: #ff81d5;
}

.grey{
    color: #999999;
    margin-bottom: -12px;
    font-size: small;
}

.small{
    color: #444444;
    font-size: small;
}

.link{
    color: #afafaf;
    font-size: small;
}
.link:hover{
    color: #9c96c8;
}

.large{
    font-weight: bold;
    font-size: large;
    color: #ffffff;
}
/* text styles and stuff */



/* column view */
.stupidfuckingcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-left: 4%;
    margin-right: 4%;
}
.audiofile{
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
    /* just so everyone here knows, i had to use some help for this. 
    i am not intelligent. do not mistake me as such */
}
.audiofile p{
    padding: 20px;
    border: 4px solid #444444;
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-break: break-word;
}
p.newAddition{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-break: break-word;
    border-image: linear-gradient(to bottom, #4d6173 0%, #2b2447 100%) 1;
    border-width: 4px;
    border-style: solid;
}
@media (max-width: 768px) {
    .audiofile{
        flex-basis: 100%;
    }
}
/* column view */



/* categories
    note to self: 
    catOne to catEight are all instrument channels
    catNine all to catThirteen are drum channels
*/
.catOne{
    font-weight: bold;
    font-size: large;
    color: #932253;
}
.catOne:hover{
    color: #e5689e;
}
h2.catOne{
    background-color: #9322536d;
}

.catTwo{
    font-weight: bold;
    font-size: large;
    color: #6f6f6f;
}
.catTwo:hover{
    color: #bebebe;
}
h2.catTwo{
    background-color: #6f6f6f75;
}

.catThree{
    font-weight: bold;
    font-size: large;
    color: #996633;
}
.catThree:hover{
    color: #deb58b;
}
h2.catThree{
    background-color: #9966337b;
}

.catFour{
    font-weight: bold;
    font-size: large;
    color: #4a6d8f;
}
.catFour:hover{
    color: #99b7d4;
}
h2.catFour{
    background-color: #4a6d8f6e;
}

.catFive{
    font-weight: bold;
    font-size: large;
    color: #7a4f9a;
}
.catFive:hover{
    color: #bb94d9;
}
h2.catFive{
    background-color: #7a4f9a6e;
}

.catSix{
    font-weight: bold;
    font-size: large;
    color: #607837;
}
.catSix:hover{
    color: #acc582;
}
h2.catSix{
    background-color: #60783776;
}

.catSeven{
    font-weight: bold;
    font-size: large;
    color: #00ff91;
}
.catSeven:hover{
    color: #a5ffb7;
}
h2.catSeven{
    background-color: #00704576;
}

/* categories */