@charset "UTF-8";

@font-face {
    font-family: 'winxp'; src: url('/fonts/winxp.otf');
}

html{
    font-family: 'Source Code Pro', 'winxp', sans-serif;
    text-align: center;
    font-size: large;
    color: #000000;

    word-wrap: break-word;

    line-height: 30px;

}

.disgrace{
    display: block;

    margin: 4%;
    margin-left: 15%;
    margin-right: 15%;

    white-space: pre-wrap;
}

.original{
    color: #ffffff;
}

