html{
    font-family:'Lexend', 'Calibri', 'sans-serif';
    background-color: #9cc6ba;
    background-image: url("hillw7.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    color: #000000;
}

#notepad {
    font-family:'Sometype Mono', 'Calibri', 'sans-serif';
    position: absolute;
    z-index: 9;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(rgba(181, 173, 255, 0.164), rgba(55, 37, 255, 0.241));
    border: 1px solid #d3d3d3;
}  
#notepadheader {
    font-family:'Lexend', 'Calibri', 'sans-serif';
    padding: 10px;
    cursor: move;
    z-index: 10;
    line-height: 10px;
    text-align: left;
    user-select: none;
}
#notepad .notepadbody{ 
    text-align: left;
    background-color: #f1f1f1;
    margin: 5px;
    color: #000000;
    border: 7px solid #f1f1f1;
    font-size: small;
}
#notepad .fake{
    font-family:'Sometype Mono', 'Calibri', 'sans-serif';
    text-align: center;
    margin: 5px;
    color: #000000;
    font-size: small;
    word-spacing: 10px;
    user-select: none;
    text-decoration: none;
    cursor:default;
}


footer{
    position: fixed;
    bottom: 0;
    margin-left: -12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* apparently this is vertical alignment and not also horizontal. huh */
    background-image: linear-gradient(rgba(181, 173, 255, 0.164), rgba(55, 37, 255, 0.241));
    backdrop-filter: blur(10px);
}
footer .icons{
    bottom: 0px;
    padding: 10px;
    padding-left: 20px;
}
footer a{
    font-family:'Lexend', 'Calibri', 'sans-serif';
    text-decoration: none;
    padding-right: 20px;
}
footer img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
footer a:hover{
    filter:brightness(1.5)
}
footer .date{
    font-family: 'Lexend', 'Calibri', 'sans-serif';
    text-align: center;
    color: rgb(255, 255, 255);
    padding-right: 40px;
    font-size: 16px;
    line-height: 50%;
}

.squar p{
    text-align: center;
    width: 128px;
    word-wrap: break-word;
    line-height: 18px;
    font-size: small;
}

.image-container{
    /* border: 2px solid #000000; debug */
    display: flex;
    gap: 10px;
}
.image-container .squar{
    /* border: 4px solid rgb(0, 2, 134);  debug */
    margin: 2% auto;
}
.image-container img{
    object-fit: cover;
    width: 128px;
    height: 128px;
}
.image-container p{
    margin-top: -5px;
    margin-bottom: 5px;
    text-align: center;
}

/* men kissing */
@media (max-width: 768px) {
    html{
        background-image: url("bluew7.jpg");
        background-size:cover;
        color: #ffffff;
    }
    .image-container {
        flex-direction: column; 
    }
    .image-container img{
        object-fit: cover;
        width: 200px;
        height: 200px;
    }
    footer .icons{
        bottom: 0px;
        padding: 10px;
        padding-left: 20px;
    }
    footer img{
        width: 30px;
        height: 30px;
    }
    footer .date{
        padding-right: 10px;
        font-size: 12px;
    }
    .squar p{
        text-align: center;
        width: 200px;
        word-wrap: break-word;
        line-height: 18px;
    }
    #notepad .fake{
        color: #ffffff;
    }
}
